.Blue {
    background-color: blue;
    height:150px;
    width: 700px;

}
.Black {
    background-color: black;
    height:150px;
    width: 700px;

}
.White {
    background-color: wheat;
    height: 150px;
    width: 700px;

}
