.Blue {
    background-color: blue;
    height: 1000px;
    width: 500px;

}
.Black {
    background-color: black;
    height: 700px;
    width: 500px;

}
.White {
    background-color: wheat;
    height: 700px;
    width: 500px;

}
